body{
    text-align:center;
    background:linear-gradient(
    pink 0%,blue 100%);
    background-repeat:no-repeat
    
  
  
  h1{
    text-shadow:2px 2px #F8BBD0;
    font-size:35px;
  }
  
  p{
    font-size:25px;
    color:white;
    fot-weight:bold;
    
